---
import { Astro } from "astro";
const posts = Astro.fetchContent("../blog/*.md").map((post) => {
  return {
    title: post.frontmatter.title,
    date: post.frontmatter.date,
    author: post.frontmatter.author,
    content: post.content,
  };
});
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead
      title={"Blog"}
      description={"All blog posts are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>
  <body>
    <Layout>
      <h1 style="line-height: 1.2;">Blog</h1>
      {
        posts.map((post) => (
          <article>
            <h2>{post.title}</h2>
            <p>{post.date}</p>
            <p>{post.author}</p>
            <div innerHTML={post.content} />
          </article>
        ))
      }
    </Layout>
  </body>
</html>
